<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
<!--    <add name="AlfaEntities" connectionString="metadata=res://*/Entities.ModelAlfa.csdl|res://*/Entities.ModelAlfa.ssdl|res://*/Entities.ModelAlfa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Alfa;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AlfaEntities" connectionString="metadata=res://*/Entities.ModelAlfa.csdl|res://*/Entities.ModelAlfa.ssdl|res://*/Entities.ModelAlfa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SILENCE-PC;initial catalog=AlfaTesting;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>