<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AlfaServer.Services.ClientService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="AlfaServer.Services.IClientService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/Design_Time_Addresses/AlfaServer/ClientService/" />
            <add baseAddress="http://localhost:8000/Design_Time_Addresses/AlfaServer/ClientService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>
<connectionStrings><add name="AlfaEntities" connectionString="metadata=res://*/Entities.ModelAlfa.csdl|res://*/Entities.ModelAlfa.ssdl|res://*/Entities.ModelAlfa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Alfa;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>